* {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 15px;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.nameContainer > h1 {
    width: 178.06px;
    height: 25.81px;
    left: 186px;
    top: 382px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.butt {
    text-align: center;
    box-sizing: border-box;
    /* Auto layout */
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    /* white */
    background: #FFFFFF;
    /* gray/300 */
    border: 1px solid #D1D5DB;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.container {
    height: 399px;
    width: 317px;
    left: 116px;
    top: 361px;
    background: #1A1B21;
}

.footContainer {
    height: 64px;
    width: 317px;
    left: 116px;
    top: 760px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

.footImages {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 25px;
}

.footImages > div {
    background-image: url(./images/twit.svg)
}

.footImages > div:nth-child(2) {
    background-image: url(./images/facebook.svg)
}

.footImages > div:nth-child(3) {
    background-image: url(./images/instagram.svg)
}

.footImages > div:nth-child(4) {
    background-image: url(./images/github.svg)
}

.voskiImg {
    background-image: url(./images/me.png);
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px;
}