#flex-container {
    
    display:flex;
    justify-content: space-evenly;
    height: 220;
    align-items: center;

    
    
    
    
}

#flex-container > div:nth-child(1) {
    
}

#flex-container > div:nth-child(2) {
    
}

#flex-container > div:nth-child(3) {
    
}

#flex-container > div:nth-child(4) {
    
}

#flex-container > div:nth-child(5) {
    
}

body {
    background-color:rgb(255, 105, 180);
}



.butt {
    color: rgb(255, 105, 180);
    font-weight:800;
    text-decoration: none
}




.grid {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(91, 250, 250);
}


.grid3 {
    list-style-position: inside;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgba(0, 0, 0, 0.719);
}

.grid4 {
    text-align:center
}

.grid5 {
    text-align:center
}
