body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Rubik Moonrocks', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.formm {
  border: 1rem solid aqua;
}

button {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 35%;
  /* transition: all 3s ease; why this no worky :( */
  border: 8px dashed violet;
  background-color: black;
  color: violet;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 1.29em;
  height: 80px;
  width: 140px;
}

.inputMe {
  border-radius: 5px;
  border: solid aqua;
  color: blueviolet;
  background-color: violet;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-weight: bold;
  
}

.whatTyped {
  color: greenyellow;
  font-size: 2em;
}

.stateArray {
  color: greenyellow;
  font-size: 2.5em;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
  color: aqua;
}

.badgeContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 20px);
  justify-content: center;
  gap: 10px;
  color: aqua;
}

.bottom2 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  width: 600px;
  height: 25px;
}

header {
  font-family: 'Rubik Moonrocks', cursive;
  text-align: center;
  font-size: 2em;
  color: aqua;
  height: fit-content;
  background-color: violet;
}

.beautifulThang {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 20px);
  justify-content: center;
  gap: 10px;
  color: aqua;
}

.bBeauty--image {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 50%;
  border-radius: 3px;
  z-index: 1;
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bBeautyTitle{
  font-family: 'Rubik Moonrocks';
  font-size: 3em;
  
}