div, button { 
  padding: 5px 10px; 
  margin: 5px 0px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button { 
  border: dashed;
}

.moveButt {
  display: flex;
  justify-content: space-evenly;
}

.light-theme {
  background-color: #cfcfcf;
  color: #000;
}

.dark-theme {
  background-color: #3a3b3c;
  color: #fff; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.siteTitle {
  font-size: 2em;
  font-style:italic
}

footer {
  text-align: center;
}