body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  align-items: center;
}

.header {
  border: 4px solid aqua;
  border-radius: 30%;
  text-align: center;
  padding: 10px;
  color: violet;
}

.okay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}


.dice {
  margin-top: 50px;
  border-radius: 39%;
  color: greenyellow;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.gContainer {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  grid-template-rows: repeat(2, 405px);
  justify-content: center;
  margin-top: 55px;
}

button {
  
  margin-top: 50px;
  border-radius: 30%;
  /* transition: all 3s ease; why this no worky :( */
  border: 4px solid aqua;
  background-color: black;
  color: violet;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 1.29em;
  
}

button:hover {
  height: 200px;
  width: 200px;
  background-image:url("../src/Images/BOBBYBOY.png");
}