.callmemaybe {
    background-image: url('./Voskiwallpaper.png');
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover;
    
    
}
.c {
    text-align:center;
    color: rgba(238, 255, 0, 0.877);
}

body {
    background-color:rgb(255, 105, 180);
}



.butt {
    color: rgb(255, 105, 180);
    font-weight:800;
    text-decoration: none
}
.listy {
    list-style-position:inside
}
