@media only screen and (min-width: 1132px){
body {
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #325050;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, minmax(50px, max-content));
    /* with six rows, 50px high */
    /* default all cells/children on the left be 2/3 the screen width, and all on the right 1/3 */
}
.container > div {
    padding: 80px;
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
}

.container > div:first-child {
    padding: 50px;
    color: #325050;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 3.2em;
    color: #FAF9F6;
    filter: contrast(150%);
}

.container > div:nth-child(2) {
    display: flex;
    text-align: center;
    filter: contrast(150%);
    
}

.container > div:nth-child(3) {
    background-color: #FAF9F6;
    line-height: 25pt;
}


.container > div:nth-child(4) {
    background-color: #e6f5eb;
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.container > div:nth-child(5) {
    background-image: url('bamboo.png');
    background-color: #b8d3c1;
    background-attachment: fixed;
    line-height: 25pt;
}

.container > div:nth-child(6) {
    background-color: #b8d3c1ef;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
}

.list6 {
    text-align: left;
    list-style: none;
}

.container > div:nth-child(7) {
    background-color: #FAF9F6;
    line-height: 25pt;
}

.container > div:nth-child(8) {
    background-color: #e6f5eb;
}

.container > div:nth-child(9) {
    text-align: center;
    padding: 100px;
    background: url('koi.jpg');
    background-attachment: scroll;
    background-size: cover;
}

.container > div:nth-child(10) {
    text-align: center;
    padding: 70px;
}

.design {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
}

.container > .footer {
    grid-column: 1 / -1;
    background-color: #134347;
    /* make these span the width of the page */
}

.img1 {
    background: url('huntington.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.img2 {
    background: url('bamboo.png');
    background-size: cover;
    background-attachment: fixed;
}

.img3 {
    background: url('enso.svg');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.links {
    background-color: #95d7c2ae;
    display: flex;
    flex-direction: column;
}

.el1sp {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    font-size: 50%;
    color: rgba(247, 247, 247, 0.598);
    margin-top: 11px;
}

.el2b1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 70px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.11);
    color: #ffffff;
}

.el2b1 > div:first-child {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    filter: opacity(.4);
    text-align: center;
}

.el9st {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    font-size: 200%;
    color: rgba(247, 247, 247, 0.598);
}

.el9st2 {
    margin-left: 5px;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 200%;
    color: #e3ffe7;
}

.dotme {
    text-decoration:underline;
    text-decoration-style: dotted;
}

ul:first-child {
    padding-top: 10px;
    border-top: 1px solid #a3bbab;
    line-height: 48px;
    width: 280px;
}

li {
    padding-bottom: 10px;
    border-bottom: 1px solid #a3bbab;
    line-height: 48px;
}

.by {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    font-size: 100%;
    color: rgba(58, 126, 118, 0.445);
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 200%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 10px;
    fill: #e6f5eb;
}

.icons > div {
    width: 60px;
    height: 60px;
    filter: invert(99%) sepia(4%) saturate(180%) hue-rotate(256deg) brightness(115%) contrast(94%);
    border-radius: 0%;
}

#box1 {
    background: url('5.svg');
    background-repeat: no-repeat;
    transition-duration: 250ms;
}

#box1:hover {
    filter: invert(.6);
    
}

#box2 {
    background: url('css3.svg');
    background-repeat: no-repeat;
    transition-duration: 250ms;
}

#box2:hover {
    filter: invert(.6);
}

#box3 {
    background: url('cc.svg');
    background-repeat: no-repeat;
    transition-duration: 250ms;
}

#box3:hover {
    filter: invert(.6);
}

#box4 {
    background: url('wc.svg');
    background-repeat: no-repeat;
    transition-duration: 250ms;
}

#box4:hover {
    filter: invert(.6);
}

#box5 {
    background: url('git.svg');
    background-repeat: no-repeat;
    transition-duration: 250ms;
}

#box5:hover {
    filter: invert(.6);
}

}
@media only screen and (max-width: 1131px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    
    .head {
        background-color: #325050;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 50px);
    }
    .authors {
        background-color: lightcoral
    }
    .links {
        background-color: lightpink
    }
    .footer {
        width: auto;
        background-color: aquamarine;
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
