ul li::marker {
    content: "🧡 ";
}

.pd-grid-container{
    font-family: 'Pokemon GB';
    display: grid;
    grid-template-columns: repeat(2, 440px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px 0px;
    color: aqua;
    justify-content: center;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #d400ff;
    height: 349px;
    border-bottom: transparent;
}

.time{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.who-dat-input {
    height: 200px;
    width: 280px; 
    align-self: center;
    font-family: "Pokemon GB";
    border: 3px solid #d400ff;
}

.who-dat-img {
    background-image: url('./images/nightbkgrnd.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 280px;
    border: 3px solid #d400ff;
    align-self: center;
}

.who-dat-imgg {
    background-image: url('./images/nightbkgrnd.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 280px;
    border: 3px solid #d400ff;
    align-self: center;
}

.info-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    column-gap: 10px;
}

.stat1{
    grid-column: 1 / 3;
    grid-row: 1;
    
}

.stat2{
    grid-column: 2 / 4;
    grid-row: 1;
}

.stat3{
    grid-column: 3 / 5;
    grid-row: 1;
}

.stat4{
    grid-column: 1 / 3;
    grid-row: 2;
}

.stat5{
    grid-column: 3 / 5;
    grid-row: 2;
}

.desc-input {
    display: flex;
    justify-content: center;
    height: 220px; 
    width: 280px; 
    align-items: center; 
    font-family: Pokemon GB;
    border: 3px solid #d400ff;
    text-align: center;
    background-color: aliceblue;
    color: black;
}

.box2{
    grid-column: 1/2;
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    border: 3px solid #d400ff;
    border-top: transparent;
    height: 349px;
    
    align-items: center;
}

.batt-sub{
    display:flex;
    align-items: center;
    align-self: center;
}

.sub-butt {
    width:fit-content;
    height: 30px;
    font-family: 'Pokemon GB';
}

.keypad-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.key {
    background-color: white; 
    border: solid  black;
    height: 25px;
    width: 40px;
    padding: 5px;
}

.tform {
    transform: scale(.5);
}

.box3{
    display: flex;
    flex-direction: column;
    border: 3px solid #d400ff;
    height: 349px;
    justify-content: center;
    align-items: center;
    border-left: transparent;
}

.evo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pDex-infoBanner-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1.5);
}

.box4{
    grid-row: 2/2 ;
    grid-column: 2/2
}

.evoPoke {
    padding: 20px;
}

.evo1-img{

}