body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {

}

button {
  margin-top: 50px;
  border-radius: 30%;
  /* transition: all 3s ease; why this no worky :( */
  border: 4px double aqua;
  background-color: black;
  color: violet;
  font-family: 'Rubik Moonrocks', cursive;
  height: 50px;
  width: 100px;
}

.hello {
  justify-self: center;
  justify-items: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  size: 1.4(em);
}