.poo {
    background-color:#725b46;
    font-family: arial, helvetica, sans-serif
}

.betterpoo {
    background-color:#929292;
    font-family: arial, helvetica, sans-serif
}

.actuallymags {
    background-color: rgba(218,165,32,.3);
    font-family: arial, helvetica, sans-serif
}

.beanziesheart {
    background-color: rgb(137,207,240);
    font-family: arial, helvetica, sans-serif
}
